/* ------------------------------------
 # Header, menú principal del landing page
 -------------------------------------- */

.o-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: $spaceRg $spaceSm;
    background: $color-lightgrey;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: $friend;
    transition: 0.3s;
    
    &.-headerFixed {
        padding-top: $space0;
        padding-bottom: $space0;
        border-bottom: 1px solid $color-grey;
    }

}

.m-header__brand {
    height: 44px;
    
    img {
        width: 100%;
    }
}

.m-header__nav {
    .m-header__link {
        display: none;
    }

    span, a {
        margin-right: $spaceXs;
        @include weight(5);
        color: $color-black;
        font-size: $fontP;
        display: inline-block;
        cursor: pointer;
    }

    @include mediaQueriesMinMd {
        .m-header__link {
            display: inline-block;
        }

        span, a {
            margin-right: $spaceBg;
        }
    }
}